@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@plugin "daisyui";

@theme {
  --background-image-rocket: url('/img/rocket.png');
  --background-image-launch: url('/img/launch.png');
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* This forces Safari to rerender the table when expanded, which it otherwise won't do 😠. Used in e.g. ExpandButton. */

.rerender {
  animation: repaint 1ms no-repeat;
}

@keyframes repaint {
  from {
    scale: 99.999%;
  }
  to {
    scale: 100%;
  }
}

/* Increase DaisyUI table borders */

.table:where(:not(.table-zebra)),
:where(thead, tbody, tfoot),
:where(tr:not(:last-child) :where(th, td)) {
  border-color: hsl(var(--color-base-content) / 15%);
}

tr.category th,
tr.category td {
  background-color: hsl(var(--color-base-200));
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}
