@tailwind base;
@tailwind components;
@tailwind utilities;

/* This forces Safari to rerender the table when expanded, which it otherwise won't do 😠. Used in e.g. ExpandButton. */

.rerender {
  animation: repaint 1ms no-repeat;
}

@keyframes repaint {
  from {
    scale: 99.999%;
  }
  to {
    scale: 100%;
  }
}

/* Increase DaisyUI table borders */

.table:where(:not(.table-zebra))
  :where(thead, tbody, tfoot)
  :where(tr:not(:last-child) :where(th, td)) {
  border-color: hsl(var(--bc) / 15%);
}

tr.category th,
tr.category td {
  background-color: hsl(var(--b2));
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}
